:root {
  --primary-background-color: #FFF5F6;
  --secondary-background-color: #FFFFFF;
  --hero-background-color: #FFB8CA;
  --mobile-menu-background-color: #E17992;
  --accent-greyer-color: #ECEBEB;
  --accent-redder-color: #C7133E;
  --accent-link-color: #D41443;

  --primary-title-color: #D41443;
  --subtitle-color: #FFA5BA;

  --primary-text-color: #000000;
  --secondary-text-color: #ffffff;

  --icon-basic-color: #D41443;
  --icon-bg-color: #fea5bb;
  --icon-unique-color: #d31342;

  --footer-line: #E1E1E1;
  --footer-unicode-color: #907E82;
  --primary-fonts: DM Sans, sans-serif;
  --secondary-fonts: Titan One, cursive;

  --primary-letter-spacing: 0.04em;
  --secondary-letter-spacing: 0.06em;
  --extra-letter-spacing: 0.02em;
}