<section class="hero">
    <div class="container hero__container">

       <div class="hero__div-one">
            <h1 class="hero__title">
                ice cream
                made with
                <span class="hero__title--span">passion</span>
            </h1>
            
            <button type="button" class="button-hero">Products</button>
            
            <button type="button" class="button-hero button-hero__color">How it’s made?</button>
       </div>

       <img src="./images/hero/mobile/Ellipse.png" alt="круг" class="hero__ellips">

    <img src="./images/hero/tablet-desktop/Ellipse.png" alt="круг" class="hero__ellips-tablet">

<picture class="hero__ice-cream">
    <source srcset="./images/hero/tablet-desktop/slider.png 1x, ./images/hero/tablet-desktop/slider@2x.png 2x"
        media="(min-width: 768px)">
    <source srcset="./images/hero/mobile/slider.png 1x, ./images/hero/mobile/slider@2x.png 2x"
        media="(min-width: 320px)">

    <img src="./images/hero/mobile/slider.png" alt="мороженое">
</picture>
       
<picture class="hero__milk">
    <source srcset="./images/hero/tablet-desktop/slider-milk.png 1x, ./images/hero/tablet-desktop/slider-milk@2x.png 2x"
        media="(min-width: 768px)">
   

    <img src="./images/hero/tablet-desktop/slider-milk.png" alt="молоко">
</picture>

<picture class="hero__girl">
    <source srcset="./images/hero/tablet-desktop/slider-girl.png 1x, ./images/hero/tablet-desktop/slider-girl@2x.png 2x"
        media="(min-width: 768px)">

    <img src="./images/hero/tablet-desktop/slider-girl.png" alt="девушка">
</picture>

<img src="./images/hero/tablet-desktop/Group-one.png" alt="" class="hero__group-one">

<img src="./images/hero/tablet-desktop/Group-two.png" alt="" class="hero__group-two">

    </div>
</section>