<section class="location">
  <div class="location__container container">
    <h2 class="location__title title visually-hidden">Location of our cafes and foodtrucks</h2>
    <ul class="location__grid grid list">
      <li class="location__item item">
        <div class="location__div">
          <div class="location__thumb">
            <p class="location__cafe">CAFE</p>
          </div>
          <span class="location__city">Chicago</span>
          <p class="location__info">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        </div>
        <div class="location__div">
          <p class="location__day">Monday - Friday</p>
          <p class="location__time">06:00 AM - 10:00 PM</p>
          <p class="location__day">Saturday - Sunday</p>
          <p class="location__time">08:00 AM - 16:00 PM</p>
        </div>
        <div class="location__div">
          <a href="" class="location__contact link">+61(0) 383 766 284</a>
          <a href="" class="location__contact link">noreply@envato.com</a>
        </div>
      </li>

      <li class="location__item item">
        <div class="location__div">
          <div class="location__thumb location__thumb--greener">
            <p class="location__cafe">FOODTRUCK</p>
          </div>
          <span class="location__city">Los Angeles</span>
          <p class="location__info">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        </div>
        <div class="location__div">
          <p class="location__day">Monday - Friday</p>
          <p class="location__time">06:00 AM - 10:00 PM</p>
          <p class="location__day">Saturday - Sunday</p>
          <p class="location__time">08:00 AM - 16:00 PM</p>
        </div>
        <div class="location__div">
          <a href="" class="location__contact link">+61(0) 383 766 284</a>
          <a href="" class="location__contact link">noreply@envato.com</a>
        </div>
      </li>

      <li class="location__item item">
        <div class="location__div">
          <div class="location__thumb">
            <p class="location__cafe">CAFE</p>
          </div>
          <span class="location__city">New York</span>
          <p class="location__info">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        </div>
        <div class="location__div">
          <p class="location__day">Monday - Friday</p>
          <p class="location__time">06:00 AM - 10:00 PM</p>
          <p class="location__day">Saturday - Sunday</p>
          <p class="location__time">08:00 AM - 16:00 PM</p>
        </div>
        <div class="location__div">
          <a href="" class="location__contact link">+61(0) 383 766 284</a>
          <a href="" class="location__contact link">noreply@envato.com</a>
        </div>
      </li>
    </ul>
  <div class="location__div-btn">
      <button class="location__button  button-arrow     button-arrow--red" type="button">
        <div class="button-arrow__div">
        <span class="button-arrow__label button-arrow__label--red">Our Locations

        </span>
        <svg class="button-arrow__icon  button-arrow__icon--red">
          <use href="../src/images/svg-icon/sprite.svg#icon-arrow"></use>
        </svg>
      </div>
      </button>
      <button class="location__button  button-arrow" type="button">
        <div class="button-arrow__div">
        <span class="button-arrow__label">Franchise
        </span>
        <svg class="button-arrow__icon">
          <use href="../src/images/svg-icon/sprite.svg#icon-arrow"></use>
        </svg>
      </div>
      </button>
    </div>
  </div>
</section>