.button-arrow {
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  border-radius: 22px;
  background-color: var(--secondary-background-color);
  border: none;

  height: 44px;
  min-width: 160px;

  &--red {
    background-color: var(--icon-unique-color);
  }

  &__label {
    display: flex;
    text-align: center;
    align-items: center;

    color: var(--accent-link-color);
    @include font(16px, 700, 21px);
    font-family: inherit;

    &--red {
      color: var(--secondary-background-color);
      margin-right: 8px;
    }
  }

  &__icon {
    width: 5px;
    height: 8px;
    margin-right: 13px;
  }
}
